.large-container {
	background-color: #ffffff;
	padding: 24px;
}

.jumbotron {
	background-color: #c2c2c2;
	margin-top: 66px;
	margin-left: 60px;
	margin-right: 60px;
	border-radius: 25px;
	padding: 24px;
}

.navbar-default {
 	background-color: #e43601;
}

.nav-highlight {
	background-color: #fe8966;
}

footer {
	padding: 24px;
}
