.large-container {
	background-color: #ffffff;
}

.jumbotron {
	background-color: #9F9F9F;
	margin-top: 40px;
	margin-left: 60px;
	margin-right: 60px;
}

.navbar-default {
 	background-color: #1F1F1F;
  	border-color: #000000;
}