.large-container {
	background-color: #ffffff;
}

.jumbotron {
	background-color: #9F9F9F;
	margin-top: 66px;
	margin-left: 60px;
	margin-right: 60px;
	border-radius: 25px;
}

.navbar-default {
 	background-color: #1F1F1F;
  	border-color: #000000;
}

.nav-highlight {
	background-color: #531dc4;
}
