body {
  background-color: #9674fd; 
}

.container {
  margin: auto;
}

.counter {
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
}

.small-container {
  border-radius: 6px;
  border-width: 3px;
  border-color: #602cfc;
}
